.board-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

}

.Board_Name{
    background-color: rgb(0, 0, 0,0.1);
    color: white;
    border-radius: 5px;
}


.board, .name{
    display: flex;
    align-items: start;
    justify-content: space-around;
    height: 200px;
    width: 400px;
    background-color: whitesmoke;
    margin: 5px;
    min-width: 400px;
    border-radius: 15px;
    cursor: pointer;
}
.name{
    display: block;
    background-color: rgb(107, 238, 128);
    cursor: auto;
    height: max-content;
}

.BoardName{
    background-color:skyblue;
    text-align: center;
}

.addList{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: rgba(239, 241, 231, 0.5);
    height: 65px;
    border-radius: 10px;
    min-width: 300px;
    cursor: pointer;
}
.List{
    display: flex;
}

.list-header{
    display: flex;
    justify-content: space-around;
}
.list-container{
    overflow-x: scroll;
    height: 89vh;
    margin-top: -8px;
}

.add-card{
    display: flex;
    justify-content: center;
}

.cardContainer{
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 5px;
}

.delete-card:hover{
    color: red;
    cursor: pointer;
}
.create-board{
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.popContainer{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupMenu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
}

.input-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
/* CheckList POPUP */
.popUpContainerBg{
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}

.pop-up-container{
    /* height: 100vh;
    width: 800px; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}


.pop-up-header{
    display: flex;
    margin-top: 20px;
    width: 800px;
    justify-content: space-between;
}

.checklist-container{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
}


.checklist-display-container{
    border: 1px solid black;
    flex-grow: 3;
    
}

.add-checkList{
    display: flex;
    flex-grow:1;
}

/* CheckList display container */
.checkList-container{
    border: 1px solid grey;
    margin: 5px;
}

.checkList-header{
    display: flex;
    justify-content: space-between;
}
.checkList-Name{
    color: rgb(25, 150, 143);
}
.add-checkList, .add-checkList-item{
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px ;
}
.add-checkList{
    align-items: center;
    height: 90px;
    margin: 2rem;
    border: 1px solid rgb(70, 221, 95);
}
.add-checkList:hover{
    background-color: rgb(56, 212, 77);
}


/* checkList Item  */
.checkList-Item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}




.fa{
    font-size: 2.5rem;
}
.delete-checklistItem-btn{
    font-size: 1.5rem;
}